<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">WSH</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" th:href="@{/student/add}">Add new student</a>
            <a class="nav-item nav-link" th:href="@{/student}">Go back</a>
        </div>
    </div>
</nav>

<div>
    <h1>Student: </h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">last name</th>
            <th scope="col">index</th>
            <th scope="col">field</th>
            <th scope="col">start date</th>
        </tr>
        </thead>
        <div th:object="${student}">
            <tbody>
            <tr>
                <th th:text="*{id}"></th>
                <th th:text="*{name}"></th>
                <th th:text="*{surname}"></th>
                <th th:text="*{indexNumber}"></th>
                <th th:text="*{field}"></th>
                <th th:text="*{startDate}"></th>
            </tr>
            </tbody>
        </div>
    </table>
</div>

<h1>Update info: </h1>

<form class="col-form-label-sm" method="post" th:action="@{/student/{id}(id=${student.id})}"
      th:object="${student}">
    <div class="form-group">
        <label>
            Name:
            <input type="text" th:field="*{name}">
        </label>
    </div>
    <div class="form-group">
        <label>
            Last name:
            <input type="text" th:field="*{surname}">
        </label>
    </div>
    <div class="form-group">
        <label>
            index:
            <input type="text" th:field="*{indexNumber}">
        </label>
    </div>
    <div class="form-group">
        <label>
            field:
            <input type="text" th:field="*{field}">
        </label>
    </div>
    <div class="form-group">
        <label>
            start date:
            <input type="date" th:field="*{startDate}">
        </label>
    </div>

    <button type="submit" class="btn btn-primary mb-2">Update</button>

    <hr>
</form>

</body>
</html>
