<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Sciezka do pliku</title>
</head>
<body>
<form style="margin: 0px 10px 10px 10px" method="post" th:action="@{/student/save}">
    <button type="submit" class="btn btn-outline-success mb-2">save</button>
</form>

</body>
</html>
