<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">WSH</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" th:href="@{/student/add}">Add new student</a>

            <form method="get" th:action="@{/student/index/{indexNumber}(indexNumber=${studentIndex})}" class="form-inline my-2 my-lg-0">
                <input aria-label="Search" class="form-control mr-sm-2" placeholder="Search by index..." type="text">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

        </div>
    </div>
</nav>

<h1 style="margin: 10px 10px 10px 10px">Student list:</h1>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">last name</th>
        <th scope="col">index</th>
        <th scope="col">field</th>
        <th scope="col">start date</th>
        <th scope="col">action</th>
        <th scope="col">action</th>
    </tr>
    </thead>

    <div th:each="student : ${studentList}">
        <tbody>
        <tr>
            <th><a th:href="@{/student/__${student.id}__}" th:text="${student.id}"></a></th>
            <th th:text="${student.name}"></th>
            <th th:text="${student.surname}"></th>
            <th th:text="${student.indexNumber}"></th>
            <th th:text="${student.field}"></th>
            <th th:text="${student.startDate}"></th>
            <th>
                <form th:action="@{/student/{id}(id=${student.id})}" method="get">
                    <input class="btn btn-outline-success mb-2" type="submit" value="Update"/>
                </form>
            </th>
            <th>
                <form th:action="@{/student/delete/{id}(id=${student.id})}" method="post">
                    <input class="btn btn-outline-danger mb-2" type="submit" value="Delete"/>
                </form>
            </th>
        </tr>
        </tbody>
    </div>
</table>


</body>
</html>
