<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Add student</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">WSH</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" th:href="@{/student}">Go back</a>
        </div>
    </div>
</nav>

<form style="margin: 0px 10px 10px 10px" method="post" th:action="@{/student/add}" th:object="${student}">
    <!--    <h1 th:if="${#fields.hasErrors()}"></h1>-->
    <div class="form-group">
        <label>
            Name:
            <input type="text" th:field="*{name}">
            <ul th:if="${#fields.hasErrors('name')}">
                <li th:class="text-danger" th:each="err: ${#fields.errors('name')}" th:text="${err}">wrong name</li>
            </ul>
        </label>
    </div>
    <div class="form-group">
        <label>
            Surnname:
            <input type="text" th:field="*{surname}">
            <ul th:if="${#fields.hasErrors('surname')}">
                <li th:class="text-danger" th:each="err: ${#fields.errors('surname')}" th:text="${err}">wrong surname
                </li>
            </ul>
        </label>
    </div>
    <div class="form-group">
        <label>
            index:
            <input type="text" th:field="*{indexNumber}">
            <ul th:if="${#fields.hasErrors('indexNumber')}">
                <li th:class="text-danger" th:each="err: ${#fields.errors('indexNumber')}" th:text="${err}">wrong
                    indexNumber
                </li>
            </ul>
        </label>
    </div>
    <div class="form-group">
        <label>
            field:
            <input type="text" th:field="*{field}">
            <ul th:if="${#fields.hasErrors('field')}">
                <li th:class="text-danger" th:each="err: ${#fields.errors('field')}" th:text="${err}">wrong field</li>
            </ul>
        </label>
    </div>
    <div class="form-group">
        <label>
            start date:
            <input type="date" th:field="*{startDate}">
        </label>
    </div>

    <button type="submit" class="btn btn-outline-success mb-2">Add student</button>

    <hr>
</form>





</body>
</html>
