<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark" >
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <a class="navbar-brand" href="/">WSH</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="flex: none; position: absolute; right: 30px;">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" th:href="@{/student}">Meet our students</a>
                <a class="nav-item nav-link" th:href="@{/student/add}">Add new student</a>
                <a class="nav-item nav-link" th:href="@{/studyPlan}">Plan</a>
                <form method="get" th:action="@{/student}" class="form-inline my-2 my-lg-0">
                    <input aria-label="Search" class="form-control mr-sm-2" placeholder="Search..." type="text"
                           id="txtSearch" name="keyword">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</nav>

<!--<div class="main-image">-->
<!--    <img src="styles/school.jpg">-->
<!--</div>-->

<div class="jumbotron" style="margin: 20px 20px 20px 20px">
    <h1 class="display-4">Welcome</h1>
    <h1 class="text-danger" th:text="${schoolName}">Nazwa szkoły</h1>
    <p class="lead">Aplikacja do zarządzania studentami</p>
    <hr class="my-4">
    <p>Projekt końcowy z przedmiotu wstęp do programowania z użyciem Spring boot, Bootstrap, Thymeleaf, MySQL</p>
    <p class="lead">
        <a class="btn btn-outline-info btn-lg" th:href="@{/student}" role="button">View students</a>
    </p>
</div>

</body>
</html>
